apiVersion: v1
kind: Secret
metadata:
  name: minio-creds-secret
type: Opaque
data:
  accesskey: bWluaW8= # base 64 encoded "minio" (echo -n 'minio' | base64)
  secretkey: bWluaW8xMjM= # based 64 encoded "minio123" (echo -n 'minio123' | base64)
---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      # Optional field
      # By default and for convenience, the Kubernetes control plane will allocate a port from a range (default: 30000-32767)
      # nodePort: 30007
  selector:
    app: minio
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: minio
  namespace: devcon-1
  annotations:
    openshift.io/host.generated: 'true'
spec:
  to:
    kind: Service
    name: minio-service
  port:
    targetPort: 9000

---
apiVersion: operator.min.io/v1
kind: MinIOInstance
metadata:
  name: minio
spec:
  ## Add metadata to the all pods created by the StatefulSet
  metadata:
    ## Optionally pass labels to be applied to the statefulset pods
    labels:
      app: minio
    annotations:
      prometheus.io/path: /minio/prometheus/metrics
      prometheus.io/port: "9000"
      prometheus.io/scrape: "true"
  ## Registry location and Tag to download MinIO Server image
  image: minio/minio:RELEASE.2020-07-13T18-09-56Z
  ## A ClusterIP Service will be created with the given name
  serviceName: minio-internal-service
  volumesPerServer: 1
  mountPath: /export
  zones:
    - name: "zone-0"
      ## Number of MinIO servers/pods in this zone.
      ## For standalone mode, supply 1. For distributed mode, supply 4 or more.
      ## Note that the operator does not support upgrading from standalone to distributed mode.
      servers: 1
  volumeClaimTemplate:
    metadata:
      name: data
    spec:
      accessModes:
        - ReadWriteOnce
      storageClassName: standard
      resources:
        requests:
          storage: 1Gi
  ## Secret with credentials to be used by MinIO instance.
  credsSecret:
    name: minio-creds-secret
  podManagementPolicy: Parallel
  requestAutoCert: false
  certConfig:
    commonName: ""
    organizationName: []
    dnsNames: []
  liveness:
    initialDelaySeconds: 10
    periodSeconds: 1
    timeoutSeconds: 1
